<div class="row">
  <div class="col-md-4">
    <h1>Buckets list</h1>
  </div>
</div>
<div class="row row-top-margin">
  <div class="col-md-12">
    <new-bucket *ngIf="creatingNewBucket" (bucketConfirmed)="bucketCreated()"></new-bucket>
  </div>
</div>
<div class="row row-top-margin" *ngIf="buckets">
  <div class="col-md-3">
    All buckets ({{ buckets.length }})
  </div>
  <div class="col-md-9">
    <button class="btn btn-secondary float-right" *ngIf="!creatingNewBucket" (click)="creatingNewBucket = !creatingNewBucket">Create New Bucket</button>
  </div>
</div>
<div class="row" *ngIf="buckets">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bucket of buckets">
          <th><a href="javascript:void(0);" (click)="navigateToBucketDetails(bucket.id)">{{bucket.name}}</a></th>
          <td>{{bucket.location.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>