<div class="row">
  <div class="col-md-12">
    <h4>Create New Bucket</h4>
  </div>
</div>
<div class="row" *ngIf="locations">
  <div class="col-md-6">
    <label for="bucketName">Bucket name*</label>
    <input id="bucketName" type="text" class="form-control full-width" [(ngModel)]="name" />
  </div>
  <div class="col-md-6">
    <label for="bucketLocation">Bucket Location*</label>
    <select id="bucketLocation" class="form-control full-width" [(ngModel)]="locationId">
      <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
    </select>
  </div>
</div>
<div class="row row-top-margin">
  <div class="col-md-2">
    <button class="btn btn-secondary" (click)="createBucket()">Create Bucket</button>
  </div>
</div>