<div class="row">
  <div class="col-md-4">
    <h1>Locations</h1>
  </div>
</div>
<div class="row" *ngIf="buckets">
  <div class="col-md-3">
    All locations ({{ locations.length }})
  </div>
</div>
<div class="row row-top-margin" *ngIf="locations">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <td>{{location.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>