<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/buckets']">Secure cloud storage</a>

        <div class="collapse navbar-collapse" id="collapse">
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/buckets']" routerLinkActive="active">Buckets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/locations']" routerLinkActive="active">Locations</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <template ngbModalContainer></template>
    <div class="body-container container">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>