<div class="row" *ngIf="bucket">
  <div class="col-md-12">
    <h2>{{ bucket.name }}</h2>
  </div>
</div>
<div class="row row-top-margin" *ngIf="bucket">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#files" role="tab">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="files" role="tabpanel">
        <div class="row row-top-margin" *ngIf="objects">
          <div class="col-md-4">
            <span>All files ({{ objects.length }})</span>
          </div>
          <div class="offset-md-6 col-md-2">
            <button class="btn btn-secondary float-right full-width" (click)="fileInput.click()">Upload object</button>
            <input #fileInput type="file" class="form-control fileInput" (change)="onChange($event)">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <template #objectModal let-c="close" let-d="dismiss">
              <div class="modal-body">
                Do you really want to delete this object?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c()">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="d()">No</button>
              </div>
            </template>
            <table class="table table-striped" *ngIf="objects">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Modified</th>
                  <th>Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let object of objects">
                  <th [style.width]="30"><img src="/assets/file.png" width="30px"></th>
                  <td>{{object.name}}</td>
                  <td>{{object.last_modified | date}}</td>
                  <td>{{getFileSize(object.size)}}</td>
                  <td><button class="btn btn-secondary float-right" (click)="openDeleteObjectModal(objectModal, object)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="details" role="tabpanel">
        <template #bucketModal let-c="close" let-d="dismiss">
              <div class="modal-body">
                Do you really want to delete this bucket?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c()">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="d()">No</button>
              </div>
            </template>
        <div class="row row-top-margin">
          <div class="col-md-2">
            <b class="float-right">Bucket name:</b>
          </div>
          <div class="col-md-4">
            {{ bucket.name }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <b class="float-right">Location:</b>
          </div>
          <div class="col-md-4">
            {{ bucket.location.name }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <b class="float-right">Storage size:</b>
          </div>
          <div class="col-md-4">
            4.9 Gb
            <!-- Not defined in api?-->
          </div>
        </div>
        <div class="row row-top-margin">
          <div class="col-md-2">
            <button class="btn btn-secondary" (click)="openDeleteBucketModal(bucketModal)">Delete bucket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>